rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read access for all files in the summaries directory
    match /summaries/{allPaths=**} {
      allow read;
    }

    // Restrict write access to a user's own directory
    match /summaries/{userId}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
